@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans Arabic", ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #2563eb;
  --color-brand-red: #f43f5e;
  --color-brand-yellow: #f59e0b;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased bg-[#050505] text-white overflow-x-hidden;
  }

  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

.pixel-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.pixel-shadow-hover:hover {
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
  transform: translate(-2px, -2px);
}
